
/* =============================================================================
   Base 966px Grid
   ========================================================================== */
   
	body { min-width: 996px; }

	* html .grp{ height: 1%; }
	*:first-child+html .grp{ min-height: 1px; }
	.grp:after{ content: "."; display: block; height: 0; clear: both; visibility: hidden; }
	
	/* c */
	.c {
		margin-left: auto;
		margin-right: auto;
		width: 996px;
	}
	
	.cfw {
		float: left;
		width: 100%;
	}

	/* Global */
	.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, 
	.c-7, .c-8, .c-9, .c-10, .c-11, .c-12 {
		display: inline;
		float: left;
		margin-left: 13px;
		margin-right: 13px;
		position: relative;
	}

	.nl { margin-left: 0 !important; }
	.nr { margin-right: 0 !important; }

	/* Base Grid */
	.c .c-1 { width: 57px; }
	.c .c-2 { width: 140px; }
	.c .c-3 { width: 223px; }
	.c .c-4 { width: 306px; }
	.c .c-5 { width: 389px; }
	.c .c-6 { width: 472px; }
	.c .c-7 { width: 555px; }
	.c .c-8 { width: 638px; }
	.c .c-9 { width: 721px; }
	.c .c-10 { width: 804px; }
	.c .c-11 { width: 887px; }
	.c .c-12 { width: 970px; }


	/* Images & Other Objects */
	img, object, embed { max-width: 100%; }
	img { height: auto; }


/* =============================================================================
   768px Grid
   ========================================================================== */

@media only screen and (min-width: 768px) and (max-width: 995px) {
	
	body {min-width: 768px;}

	/* c | 768px */
	.c {width: 768px; }

	/* Global | 768px */
	.c-1, .c-2, .c-3, .c-4, .c-5, .c-6, 
	.c-7, .c-8, .c-9, .c-10, .c-11, .c-12 {
		margin-left: 8px;
		margin-right: 8px;
	}
		

	/* Base Grid | 768px */
	.c .c-1 {width: 48px;}
	.c .c-2 {width: 112px;}
	.c .c-3 {width: 176px;}
	.c .c-4 {width: 240px;}
	.c .c-5 {width: 304px;}
	.c .c-6 {width: 368px;}
	.c .c-7 {width: 432px;}
	.c .c-8 {width: 496px;}
	.c .c-9 {width: 560px;}
	.c .c-10 {width: 624px;}
	.c .c-11 {width: 688px;}
	.c .c-12 {width: 752px;}
	
	.nl {margin-left: 0;}
	.nr {margin-right: 0;}
	
	/*
		II: HTML Structure
	*/
	
	#sitehead .c-4 { width: 306px; }
	
	.menu a { 
		font-size: 13px;
		padding: 13px 13px;
	}

	#carousel-homepage .owl-caption {
		top: 90px;
	}
		
	#testimonial-footer {
		padding-top: 36px;
		padding-bottom: 20px;
	}
	
	#testimonial-footer .owl-caption  {
		top: 20px;
	}
	#testimonial-footer h3 {
		margin-bottom: 0;
	}
	#testimonial-footer h4 {
		font-size: 17px;
		line-height: 19px;
		margin-bottom: 5px;
		font-weight: 600;
	}
	#footer .last { border-right: none; }
	
}




/* =============================================================================
   Less than 768px
   ========================================================================== */
   
@media only screen and (max-width: 767px) {
	
	body{min-width:0;}
		
	/* c */
	.c, .c .c-12 { clear: left; margin:0 auto; width:456px; overflow:hidden; }
	
	
	/* Global */
	.c .c-1, .c .c-2, .c .c-3, .c .c-4, .c .c-5, .c .c-6,
	.c .c-7, .c .c-8, .c .c-9, .c .c-10, .c .c-11 {
		width: 416px;
		clear: both;
		float: none;
		margin-left: 0;
		margin-right: 0;
		display:inline-block;
		padding-left: 20px;
		padding-right: 20px;
		
		/* IE 6&7 */
		zoom:1;
		*display:inline;
	}
	
	.nl {margin-left: 0;}
	.nr {margin-right: 0;}
	
	/*
		II: HTML Structure
	*/
	
	#sitehead a.svg { width: 80%; }
	
	#carousel-homepage .owl-caption {
		top: 65px;
	}
		#carousel-homepage .owl-caption h4 {
			font-size: 24px;
			line-height: 32px;
		}	
		#carousel-homepage .owl-caption p {
			display: none;
		}
	
	
	#testimonial-footer {
		padding-top: 36px;
		padding-bottom: 20px;
	}
		#testimonial-footer h3 {
			margin-bottom: 0;
		}
		#testimonial-footer h4 {
			font-size: 12px;
			font-weight: 600;
			line-height: 16px;
			margin-bottom: 0;
		}
		#testimonial-footer .owl-caption {
			top: 10px;
		}
		#testimonial-footer p { font-size: 11px; }
	
	#footer { margin-bottom: 36px; }
	#footer .last { border-right: none; }
	#footer .c-6, #footer .c-4, #footer .c-3, #footer .c-2 {
		margin-bottom: 36px;
		padding: 0;
	}
	#footer ul, #footer h4 { padding-left: 0; }
	
	#copyright {
		text-align: center;
	}
		#copyright object {
			margin: 0 25% 26px 25%;
			width: 50%;
		}	
}


/* =============================================================================
   Less than 480px
   ========================================================================== */
@media only screen and (max-width: 479px) {
	
	/* c */
	
	.c { width:300px; }
	
	#sitehead a.svg { width: 80%; }
	
	/* Global */
	
	.c .c-1, .c .c-2, .c .c-3, .c .c-4, .c .c-5, .c .c-6,
	.c .c-7, .c .c-8, .c .c-9, .c .c-10, .c .c-11, .c .c-12	{
		width:300px;
		padding-left: 0px;
		padding-right: 0px;
	}
	
	.nl {margin-left: 0;}
	.nr {margin-right: 0;}
	
	/*
		I:	Typography, Link Styles, Buttons & Tables
	*/
	
	#carousel-homepage .owl-caption {
		top: 40px;
	}
	
	a.button {
		width: 300px;
		padding: 13px 0;
		text-align: center;
	}
	

	
	/*
		II: HTML Structure
	*/
	
	#carousel-homepage .owl-caption {
		top: 45px;
	}
		#carousel-homepage .owl-caption h4 {
			font-size: 18px;
			line-height: 24px;
		}
	
	#testimonial-footer {
		display: none;
	}

	#footer { margin-bottom: 36px; }
	#footer .last { border-right: none; }	
	#footer .c-6, #footer .c-4, #footer .c-2 {
		margin-bottom: 36px;
	}
	
	#copyright {
		text-align: center;
	}
		#copyright object {
			margin: 0 20% 26px 20%;
			width: 60%;
		}
	
}